<main role="main" class="container" >
  <div class="row justify-content-md-center">
    <div class="row" *ngIf="isAuthenticated">
      <form [formGroup]="customerAddForm" (ngSubmit)="add()">
        <h2 class="mt-3 pt-3">Add New Customer</h2>
        <div class="form-group">
          <input
            type="text"
            id="name"
            formControlName="Name"
            class="form-control"
            placeholder="Customer name"
            autofocus
          />
          <span
            class="help-block"
            *ngIf="customerAddForm.get('Name').hasError('required') && customerAddForm.get('Name').touched"
          >
            Customer name is required
          </span>
        </div>
        <div class="form-group">
          <input
            type="text"
            id="phoneNumber"
            formControlName="PhoneNumber"
            class="form-control"
            placeholder="Customer phone"
            autofocus
          />
          <span
            class="help-block"
            *ngIf="customerAddForm.get('PhoneNumber').hasError('required') && customerAddForm.get('PhoneNumber').touched"
          >
            Customer phone is required
          </span>
        </div>
        <div class="form-group">
          <input
            type="text"
            id="mail"
            formControlName="Mail"
            class="form-control"
            placeholder="Customer mail"
            autofocus
          />
          <span
            class="help-block"
            *ngIf="customerAddForm.get('Mail').hasError('required') && customerAddForm.get('Mail').touched"
          >
            Customer mail is required
          </span>
        </div>
        <div class="form-group">
          <input
            type="text"
            id="city"
            formControlName="City"
            class="form-control"
            placeholder="City"
            autofocus
          />
          <span
            class="help-block"
            *ngIf="customerAddForm.get('City').hasError('required') && customerAddForm.get('City').touched"
          >
            City name is required
          </span>
        </div>
        <div class="form-group">
            <input
              type="text"
              id="note"
              formControlName="Note"
              class="form-control"
              placeholder="Note"
              autofocus
            />
            <span
              class="help-block"
              *ngIf="customerAddForm.get('Note').hasError('required') && customerAddForm.get('Note').touched"
            >
              Note is required
            </span>
          </div>
          <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!customerAddForm.valid">Add</button>
          <b *ngIf="customerAddForm.valid">{{create}}</b>

      </form>
    </div>
    <h2 *ngIf="!isAuthenticated">Please log in to add customers</h2>
  </div>
</main>

